<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class = "about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi reprehenderit earum quis, laudantium iure officiis debitis quo sed at eveniet rerum dolorem? Cupiditate deserunt ipsum quae quis repudiandae voluptatem excepturi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi reprehenderit earum quis, laudantium iure officiis debitis quo sed at eveniet rerum dolorem? Cupiditate deserunt ipsum quae quis repudiandae voluptatem excepturi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi reprehenderit earum quis, laudantium iure officiis debitis quo sed at eveniet rerum dolorem? Cupiditate deserunt ipsum quae quis repudiandae voluptatem excepturi.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>